<!DOCTYPE html>
<html lang="kg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/js/script.js"></script>
    <title>Негизги бет</title>
</head>
<body>
    <header>
        <nav>
            <ul>
              <li><a href="/templates/home.html"><i class="fas fa-home"></i>Негизги бет</a></li>
              <li><a href="/templates/about.html"><i class="fas fa-info-circle"></i>Биз жөнүндө</a></li>
              <li><a href="/templates/онлайн бронирования.html"><i class="fas fa-calendar-check"></i> Онлайн ээлөө</a></li>
              <li><a href="/templates/отзывы.html"><i class="fas fa-comment-dots"></i>Пикирлер</a></li>
            </ul>
        </nav>
    </header>
  <div id="home" class="main-content">
    <h2>Кыргызстандагы унутулгус саякатка кош келиңиз!"</h2>
    
<ul class="tour-list">
            <li>
                <div class="tour-item">
                    <h4>Ысык-Көл</h4>
                    <img src="/images/ысык кол.jpg" alt="Ысык-Көл">
                    <p>Ысык-Көл облусу Кыргызстандын чыгышында жайгашып, көлдүн айланасында туризм, айыл чарба жана мал чарбачылыгы өнүккөн.</p>
                    <a href="/templates/ysyk-kol.html" class="btn">Кененирээк маалымат</a>
                </div>
            </li>
            <li>
                <div class="tour-item">
                    <h4>Баткен</h4>
                    <img src="/images/баткен.jpg" alt="Ала-Арча">
                    <p>Баткен облусу Кыргызстандын түштүгүндө жайгашып, тоолуу аймактарга ээ. Айыл чарба, мал чарбачылыгы, туризм жана бай ресурстар менен белгилүү.</p>
                    <a href="/templates/баткен.html" class="btn">Кененирээк маалымат</a>
                </div>
            </li>
            <li>
                <div class="tour-item">
                    <h4>Ош</h4>
                    <img src="/images/сулайман тоо.jpg" alt="Сулайман-Тоо">
                    <p>Ош — Кыргызстандын түштүгүндө жайгашкан, Ош облусунун борбору. Шаар соода, айыл чарба жана туризм тармактарында маанилүү борбор.</p>
                    <a href="/templates/ош.html" class="btn">Кененирээк маалымат</a>
                </div>
            </li>
            <li>
                <div class="tour-item">
                    <h4>Жалал-Абад</h4>
                    <img src="/images/жалал-абад.jpg" alt="Таш-Рабат">
                    <p>Жалал-Абад облусу Кыргызстандын түштүк-батышында жайгашып, айыл чарба, мал чарбачылыгы, минералдык ресурстар жана туризм менен белгилүү.</p>
                    <a href="/templates/жалал-абад.html" class="btn">Кененирээк маалымат</a>
                </div>
            </li>
            <li>
                <div class="tour-item">
                    <h4>Талас</h4>
                    <img src="/images/талас.jpg" alt="Сары-Челек">
                    <p>Талас облусу Кыргызстандын батышында, Талас дарыясынын боюнда жайгашкан. Аталган аймакта айыл чарба, мал чарбачылыгы өнүккөн. Облустун борбору – Талас шаары.</p>
                    <a href="/templates/талас.html" class="btn">Кененирээк маалымат</a>
                </div>
            </li>
            <li>
                <div class="tour-item">
                    <h4>Нарын</h4>
                    <img src="/images/нарын.jpg" alt="Арстанбап">
                    <p>Нарын облусу Кыргызстандын түштүк-чыгышында жайгашып, тоолуу аймактарга ээ. Табигый байлыктары, мал чарбачылыгы жана туризми менен белгилүү. Нарын шаарында борбору жайгашкан.</p>
                    <a href="/templates/нарын.html" class="btn">Кененирээк маалымат</a>
                </div>
            </li>
            <li>
                <div class="tour-item">
                    <h4>Чүй</h4>
                    <img src="/images/чүй.jpg" alt="Капчыгай">
                    <p>Чүй облусу Кыргызстандын түндүгүндө жайгашып, айыл чарба, мал чарбачылыгы, өнөр жай жана транспорт тармактары өнүккөн. Облустун борбору — Бишкек шаары. Аймакта бай жаратылыш ресурстары бар.</p>
                    <a href="/templates/чүй.html" class="btn">Кененирээк маалымат</a>
                </div>
            </li>
            <li>
                <div class="tour-item">
                    <h4>Бишкек</h4>
                    <img src="/images/бишкек.jpg" alt="Жети-Өгүз">
                    <p>Бишкек — Кыргызстандын борбору жана эң ири шаары, Чүй облусунун административдик борбору. Шаар экономикалык, маданий жана саясий мааниге ээ, жогорку билим берүү жана өнөр жай ишканалары көп.</p>
                    <a href="/templates/бишкек.html" class="btn">Кененирээк маалымат</a>
                </div>
            </li>
        </ul>
</p>
</div>


      <style>
      .main-content {
        background-color: #61c3de; 
        color: #333333;
        padding: 20px; 
        margin-top: 20px; 
        margin-bottom: 20px; 
      }</style>

    <footer>
    <h3>Байланышуу</h3>
    <p>Биз менен байланышуу үчүн: <a href="rozaalmazbekova@gmaill.com">rozaalmazbekova@gmaill.cpm</a></p>
    <p>Телефон: +996 774 381 385</p>
        <p>&copy; 2025 Туристический Клуб</p>
    </footer>
</body>
</html>